<div class="chapterFooter">
    <div class="stats">
        <div class="bottomStats">
            <img src="assets/img/bottomBar/life.png" />
            <p>{{this.gameData.lifeValue}}</p>
        </div>
        <div class="bottomStats">
            <img src="assets/img/bottomBar/attack.png" />
            <p>{{this.gameData.attackValue}}</p>
        </div>
        <div class="bottomStats">
            <img src="assets/img/bottomBar/money.png" />
            <p>{{this.gameData.moneyValue}}</p>
        </div>
        <div class="bottomStats">
            <img src="assets/img/bottomBar/reputation.png" />
            <p>{{this.gameData.reputationValue}}</p>
        </div>
    </div>
    <p (click)='goToInventory()' class="settings"><img src="assets/img/iconsReady/inventory.png"/></p>
  </div>
