page-home {
    background-image: url('../assets/img/homeReady/bgHome.jpg') !important;
    background-size: cover;
    background-position: center center;

    .homeButton {
        width: 40vw;
        height: 8vh;
        background-color: map-get($colors, secondary);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        margin-bottom: 3vh;
    }
    .homeButtonTransp {
      @extend .homeButton;
      opacity: 0.5;
    }

    .fixedRight {
        right: 0;
        }
    .fixedLeft {
        left: 0;
    }

}
