back-bar {
  /*.topRight{
    background: url("../assets/img/backBar/back.png");
    background-size: cover;
    width: 17vw;
    height: 20vw;
    position: absolute;
    top: 0;
    right: 5vw;
  }*/
  .book {
    background: url("../assets/img/backBar/book.png");
    background-size: cover;
    width: 17vw;
    height: 20vw;
    position: absolute;
    top: 0;
    right: 5vw;
  }
  .back {
    background: url("../assets/img/backBar/back.png");
    background-size: cover;
    width: 17vw;
    height: 20vw;
    position: absolute;
    top: 0;
    right: 5vw;
  }
}
