@font-face {
    font-family: 'Escargot';
    src: url('../assets/fonts/eskargot-webfont.woff2') format('woff2'), url('../assets/fonts/eskargot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
html {
       background: url('../assets/img/pageReady/bg.jpg') no-repeat center center fixed; 
       -webkit-background-size: cover;
       -moz-background-size: cover;
       background-size: cover;
       font-size: 72.5%;
       line-height: 1.5;
}

.content, .content-md, ion-app {
    background-color: transparent !important;
}

  /*MAKES PAGE TRANSPARENT SO IT CAN SHOW HTML BG*
  ion-app {
      background-color: transparent !important;
  }*/
   


  h1 {
      color: map-get($colors, primary);
      font-size: 7vw;
      font-family:escargot;
      text-align: center;
  }   
  h2 {
      color: map-get($colors, secondary);
      font-size: 4vw;
      text-transform: uppercase;
      font-family:escargot;
      text-align: center;
  }
  
  .title{
      color: map-get($colors, third);
      font-size: 7vw;
      font-family:escargot;
      text-align: center;
      text-transform: uppercase;
  }
  .paragraphMarginedBottom{
      margin-bottom: 8vh;
  }
  .column{
      display: flex;
      flex-direction: column;
  }
  .row {
    display: flex;
      flex-direction: row;
  }
  
  .content-md {
      background-color: transparent !important;
  }
  
  .primaryColor {
      color: map-get($colors, primary);
  }
  .thirdColor{
      color: map-get($colors, third);
  }
  
  .scroll-content p:first-child {
      margin-top: 8vh;
  }
  
  
  .statsText{
      font-family: Escargot;
      font-size: 140%;
      padding: 0;
      margin: 1vw;
      margin-top: 0 !important;
  }
  .bold {
      font-weight: bold;
  }
  
  
  
  /* CHAPTER PAGES *************/
  .textChapter p:first-child {
      margin-top:22vw;                    //TOP MENU 20vw
  }
  
  /* BACK BUTTON ************/
      .topRightBack{
          background: url("../assets/img/backBar/back.png");
          background-size: cover;
          width: 17vw;
          height: 20vw;
          position: absolute;
          top: 0;
          right: 5vw;
      }
  













.good{
    color: map-get($colors, secondary);
    font-weight: bold;
    //text-transform: uppercase;
}
.bad{
    color: red;
    font-weight: bold;
}




/************************************************ ALERT STYLES */
.alertText {
    margin: 5vh;
    text-align: center;
}


/********************************************** BUTTONS STYLES */

.button {
    margin-top: 2vh;
    font-family: escargot;
    font-size: 5vw;
    text-transform: uppercase;
    background-color: map-get($colors, primary);
    color: white;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondaryButton {
    @extend .button;
    background-color: map-get($colors, secondary) !important;
}

.thirdButton {
    @extend .button;
    background-color: map-get($colors, third) !important;
  }

.whiteButton {
  @extend .button;
  background-color: #fff !important;
  color: map-get($colors, primary) !important;
}
