<div class="choicesContainer">
    <div class="choiceDiv" *ngIf="this.goTo1 !== undefined">
        <button class="choiceButton" (tap)='choice1Function()'>{{this.choice1}}</button>
    </div>
    <div class="choiceDiv" *ngIf="this.goTo2 !== undefined">
        <button class="choiceButton" (tap)='choice2Function()'>{{this.choice2}}</button>
      </div>
    <div class="choiceDiv" *ngIf="this.goTo3 !== undefined">
        <button class="choiceButton" (tap)='choice3Function()'>{{this.choice3}}</button>
    </div>
  </div>
